*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'sora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.241);
    background-image: url(./Images/apple-vision-pro-us__f28gp8ey4vam_og.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.container-wrapper {
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

 .text-container .container-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellow; */
}

.text-container p{
    font-size: 24px;
    color: rgb(246, 84, 20);
}